port = 4023
redis_svr_url = "redis://127.0.0.1:6379"
db_path = "./predict.db"
dump_path = "./dump"  #
predict_worker_num = 5  #  启动分析的子进程数量
notify_svr_url = "http://127.0.0.1:4023/"  # 这是一个post接口，用于返回预测的相关信息
notify_timeout = 5  # 通知的超时时间，单位：秒
redis_stream_tag = "xinlan_predict_0001_stream"  # 结合流的md5值，拼接在redis中存储流的信息的key。流信息包括：流地址、项目和组织的uuid
static_dir = "./static"
svr_root_url = "http://localhost"  # 用于返回图片的url地址
frame_interval_count = 120 # 相隔多少帧处理生成的一张图片
is_test = true


[[predict]]
tag = "swim"  # 通知数据结构等的需要
title = "游泳警告"  # 通知数据结构需要
content = ""  # 通知数据结构需要
model = "./model/swim_yolo8_nano.onnx"
pipe = "xinlan_predict_0001_swim"
label = ["person",]

# rtmp://play-sh.quklive.com/live/1761274636335259
